
.sidebar {
  width: 350px;
  padding: 2rem;
  border-radius: 50px;
  margin: 2rem;
  margin-bottom: 2rem;
  margin-right: 0;
}

.sidebar-contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.header-date {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  color: #6f6f6f;
}

.menu-btn {
  border: none;
  background: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: #333;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  color: #454646;
  margin-bottom: 1rem;
}

.search-box svg {
  position: absolute;
  left: 0.7rem;
  font-size: 1.1rem;
  pointer-events: none;
}

.search-box input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2.3rem;
  border-radius: 50px;
  /* border: 1px solid #ccc; */
  border: 0;
  font-family: inherit;
  font-size: smaller;
  background: #E3E7E9;
}

.nav-section {
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav-section h4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.plus {
  color: #8e8e8eee;
  font-size: 1.1rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
.plus:hover {
    color: #616161;
}

.nav-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: smaller;
}

.nav-section li {
  display: flex;
  border-radius: 6px;
  cursor: pointer;
  background: #EDF1F3;
}

.nav-section li.active {
  background: #C7CACB;
  font-weight: 500;
}

.nav-section li:hover {
  background: #e1e5e7;
}

.nav-section li.active:hover {
  background: #C7CACB;
}

.nav-section li a {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  width: 100%;
}

.nav-section li a svg {
  padding: 0.1rem;
  font-size: 1.2rem;
  pointer-events: none;
}

.nav-section li.NovaTarefa {
  display: flex;
  border: 2px solid #e1e1e1;
  border-radius: 20px;
  background: #f8fefe;
}

.nav-section li.NovaTarefa:hover {
  background: #e1e5e7;
}

.nav-section li.NovaTarefa.active {
  color: #939596ff;
  background: #e1e5e7;
}

.bottom-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bottom-links a,
.bottom-links p {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.bottom-links a:hover,
.bottom-links p:hover {
  color: #2b6d72;
}
