* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7FCFE;
  min-height: 100vh;
  flex-wrap: wrap;
  position: relative;
}

.formContainer {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.background {
  flex: 1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1528px) {
  .container {
    flex-direction: column;
  }

  .background {
    display: none;
  }

  .aa {
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }



  
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .logo {
    position: static;
    margin-top: 0.25rem;
  }
}
