.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px; 
  text-decoration: none;
	color: inherit;
}

.logoIcon {
  height: 2rem; 
  width: auto;
}

.logoText {
  height: 1.5rem;
  width: auto;
}